    <% if (process.env.NODE_ENV === 'production') { %>
        <script src="/js/app.bundle.min.d702da26.js"></script>
    <% } else { %>
        <script src="/js/app.bundle.js"></script>
    <% } %>
</body>
</html>